<!-- row image left -->
<div class="section">
<div class="row">
  <div class="small-12 large-12 columns">
    <%= image_tag 'big_day_1.jpg', class: 'big_day_photo-right', align: 'right' %>
    <p>
      <h2>Ceremony</h2>
    </p>
    <p class="sub-header"><a target="_blank" href="https://www.google.com/maps/dir//Battery+Gardens,+1+Battery+Pl,+New+York,+NY+10004,+United+States/@40.7014409,-74.0151395,15z/data=!4m12!1m3!3m2!1s0x0:0x44f0325720018cf!2sBattery+Gardens!4m7!1m0!1m5!1m1!1s0x89c25a12583fce4d:0x44f0325720018cf!2m2!1d-74.0151395!2d40.7014409">Battery Gardens</a> - Saturday May 28, 2016 at 5:30 pm</p>
    <p> Formal dress from either culture is appreciated. Battery Gardens’ outdoor patio can be susceptible to winds. A coat check will be provided. 
    </p>
    <p>
      Dr. Sanjib Mukherji, a friend of Asmita’s family for over 22 years, will officiate a traditional Vedic ceremony fused with American elements on the outdoor patio next to Battery Gardens. Some parts of the ceremony will be in Sanskrit to legitimize the union. The ceremony is anticipated to last an hour and will be moved indoors in case of inclement weather. 
    </p>
    <% if current_user.present? && [:asmita_family, :eric_family].include?(current_user.group_name) %>
    <p>
      Please join us for extended family pictures directly after the ceremony at the mandap (dais). The order will be as follows: Eric’s paternal family members, Eric’s entire family, Eric’s maternal family members, Asmita’s paternal family members, Asmita’s entire family, and Asmita’s maternal family members. 
    </p>
    <% end %>
  </div>
</div>
</div>
<div class="section">
<!-- row image right -->
<div class="row">
  <div class="small-12 large-12 columns">
    <%= image_tag 'big_day_3.jpg', class: 'big_day_photo-left', align: 'left' %>
    <p>
      <h2>Reception</h2>
    </p>
    <p>
      Please join us for a cocktail reception with hors d'oeuvres in the Battery Gardens Fine Dining Room immediately following the ceremony. Dinner and dancing will follow upstairs in the Harbor View Room. Both events will feature New American cuisine with some Indian elements. Please note that there is no time to change attire between the ceremony and reception.
    </p>
  </div>
</div>
</div>
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'big_day_2.jpg', class: 'big_day_photo-right', align: 'right' %>
      <p>
        <h2>Post Wedding Brunch</h2>
      </p>
      <p>
        <p class="sub-header"><a target="blank" href="https://www.google.com/maps/dir//22+Battery+Pl,+New+York,+NY+10004/@40.7044109,-74.0200875,17z/data=!4m13!1m4!3m3!1s0x89c25a1274a84025:0xd50c206dbdd5773d!2s22+Battery+Pl,+New+York,+NY+10004!3b1!4m7!1m0!1m5!1m1!1s0x89c25a1274a84025:0xd50c206dbdd5773d!2m2!1d-74.0178988!2d40.7044109">Battery Park Slip 6</a>  - Sunday May 29, 2016 at 9:30 am</p>
        <p>Casual to Smart Casual Attire Preferred</p>
        <p>
          Please join us for brunch on the New York Water Taxi as we cruise around the sights of Lower Manhattan including the Statue of Liberty, Brooklyn Bridge, and Freedom Tower. Please arrive at the pier by 9:30 at the latest to embark on the vessel. A part of the boat is enclosed so there will be protection from inclement weather. 
        </p>
      </p>
    </div>
  </div>
</div>
<% if current_user.present? && [:asmita_family, :asmita_family_friend].include?(current_user.group_name) %>
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'big_day_5.jpg', class: 'big_day_photo-left', align: 'left' %>
      <p>
        <h2>New York Bus Tour</h2>
      </p>
      <p>
        <p class="sub-header"><a target="_blank" href="https://www.google.com/maps/dir//22+Battery+Pl,+New+York,+NY+10004/@40.7044109,-74.0200875,17z/data=!4m13!1m4!3m3!1s0x89c25a1274a84025:0xd50c206dbdd5773d!2s22+Battery+Pl,+New+York,+NY+10004!3b1!4m7!1m0!1m5!1m1!1s0x89c25a1274a84025:0xd50c206dbdd5773d!2m2!1d-74.0178988!2d40.7044109">Battery Park Slip 6</a> - Saturday May 29, 2016 at 12:15 - 4:15 pm</p>
        <p>Casual to Smart Casual Attire Preferred</p>
        <p>
          Please join us for a tour of Manhattan on a double decker bus. A tour guide from City Sightseeing will cover the Big Apple’s highlights. If you’ve seen Manhattan a thousand times from the ground or never seen it all, the tour should offer a different perspective with family and friends. Please note the bus will not make stops except for one bathroom break. The top section of the bus is not enclosed and inclement weather may require umbrellas or ponchos.
        </p>
      </p>
    </div>
  </div>
</div>
<% end %>
<% if current_user.present? && [:asmita_family, :asmita_family_friend].include?(current_user.group_name) %>
<div class="section">
<div class="row">
  <div class="small-12 large-12 columns">
    <%= image_tag 'big_day_4.jpg', class: 'big_day_photo-right', align: 'right' %>
    <p>
      <h2>Farewell Dinner</h2>
    </p>
    <p>
      <p class="sub-header"><a target="_blank" href="https://www.google.com/maps/dir//45+Murray+St,+New+York,+NY+10007/@40.7143083,-74.0179297,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c25a18d4f34d75:0x7c6156e6073b5398!2m2!1d-74.0091724!2d40.7141993">Benares Tribeca</a> - Saturday May 29, 2016 at 6:00 pm</p>
      <p>Smart Casual Attire Preferred</p>
      <p>
        Please join us for a farewell dinner at Benares to thank you for the pleasure of your company at our wedding.  
      </p>
    </p>
  </div>
</div>
<% end %>
