<div class="row">
  <div class="small-12 large-12 columns"> 
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= form_tag(:rsvp_hotel_submit, method: "post", data:{ abide: '' }) do %>
      <input name="invite_code" type="hidden" value="<%= @token %>">
      <div class="row">
        <div class="small-12 large-12 columns">
          <p>
            As an honored guest, we would like to offer you complementary accomodations at the New York Marriot Downtown. We will send confirmation within 48 hours. Please select which days you will be staying.
          </p>
        </div>
      </div>
      <div class="row rsvp-field">
        <div class="small-3 large-3 columns"><h4>Name</h4></div>
        <div class="small-3 large-3 columns" <%= 'hidden' unless @friday %>><h4>Fri May 27th</h4></div>
        <div class="small-3 large-3 columns" <%= 'hidden' unless @saturday %>><h4>Sat May 28th</h4></div>
        <div class="small-3 large-3 columns" <%= 'hidden' unless @sunday %>><h4>Sun May 29th</h4></div>
      </div>
      <% @users.each do |user| %>
      <div class="row">
        <div class="small-3 large-3 columns rsvp-field"><h4><%= user.full_name %></h4></div>
        <div class="small-3 large-3 columns rsvp-field" <%= 'hidden' unless @friday %>>
          <select id="user-<%= user.id %>-friday-rsvp-field" name="user-<%= user.id %>-friday-rsvp" <%= user.rsvp ? '' : 'disabled' %>>
            <option value="0" selected>No room needed</option>
            <option value="1">Yes, I will be staying</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field" <%= 'hidden' unless @saturday %>>
          <select id="user-<%= user.id %>-saturday-rsvp-field" name="user-<%= user.id %>-saturday-rsvp" <%= user.rsvp ? '' : 'disabled' %>>
            <option value="0" selected>No room needed</option>
            <option value="1">Yes, I will be staying</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field" <%= 'hidden' unless @sunday %>>
          <select id="user-<%= user.id %>-sunday-rsvp-field" name="user-<%= user.id %>-sunday-rsvp" <%= user.rsvp ? '' : 'disabled' %>>
            <option value="0" selected>No room needed</option>
            <option value="1">Yes, I will be staying</option>
          </select>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="small-3 large-3 columns rsvp-field">
          <h4>Room Request</h4>
        </div>
        <div class="small-9 large-9 columns">
          <input type="text"  id="room-details" name="room-details" placeholder="king beds, single beds, etc.">
        </div>
      </div>
      <button type="submit">Submit</button>
    <% end %>
  </div>
</div>