<div class="row">
  <div class="small-12 large-12 columns"> 
  Add welcome text
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= form_tag(:rsvp_hotel_submit, method: "post", data:{ abide: '' }) do %>
      <input name="invite_code" type="hidden" value="<%= @token %>">
      <div class="row">
        <div class="small-12 large-12 columns">
          Please select which days you will be staying at the Downtown Marriot:
        </div>
      </div>
      <div class="row rsvp-field">
        <div class="small-3 large-3 columns">Name</div>
        <div class="small-3 large-3 columns" <%= 'hidden' unless @friday %>>Friday May 27th</div>
        <div class="small-3 large-3 columns" <%= 'hidden' unless @saturday %>>Saturday May 28th</div>
        <div class="small-3 large-3 columns" <%= 'hidden' unless @sunday %>>Sunday May 29th</div>
      </div>
      <% @users.each do |user| %>
      <div class="row">
        <div class="small-3 large-3 columns rsvp-field"><%= user.full_name %></div>
        <div class="small-3 large-3 columns rsvp-field" <%= 'hidden' unless @friday %>>
          <select id="user-<%= user.id %>-friday-rsvp-field" name="user-<%= user.id %>-friday-rsvp">
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field" <%= 'hidden' unless @saturday %>>
          <select id="user-<%= user.id %>-saturday-rsvp-field" name="user-<%= user.id %>-saturday-rsvp">
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field" <%= 'hidden' unless @sunday %>>
          <select id="user-<%= user.id %>-sunday-rsvp-field" name="user-<%= user.id %>-sunday-rsvp">
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
      </div>
      <% end %>
      <button type="submit">Submit</button>
    <% end %>
  </div>
</div>