<div class="row">
  <div class="small-12 large-12 columns"> 
    <p>

    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= form_tag(:rsvp_nyc_submit, method: "post", data:{ abide: '' }) do %>
      <input name="invite_code" type="hidden" value="<%= @token %>">
      <div class="row">
        <div class="small-12 large-12 columns">
          <p>
            On Sunday May 29th there will be additional events, we would like to invite you to attend a boat brunch, a bus tour of NYC and an Indian dinner.  After completing the RSVP, details for each event can be found on the Big Day page of this site.
          </p>
        </div>
      </div>
      <div class="row rsvp-field">
        <div class="small-3 large-3 columns"><h4>Name</h4></div>
        <div class="small-3 large-3 columns"><h4>Sunday Brunch</h4></div>
        <div class="small-3 large-3 columns"><h4>Bus Tour</h4></div>
        <div class="small-3 large-3 columns"><h4>Dinner</h4></div>
      </div>
      <% @users.each do |user| %>
      <div class="row">
        <div class="small-3 large-3 columns rsvp-field"><h4><%= user.full_name %></h4></div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-brunch-field" name="user-<%= user.id %>-brunch" <%= user.rsvp ? '' : 'disabled' %>>
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-tour-field" name="user-<%= user.id %>-tour" <%= user.rsvp ? '': 'disabled' %>>
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-dinner-field" name="user-<%= user.id %>-dinner" <%= user.rsvp ? '': 'disabled' %>>
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
      </div>
      <% end %>
      <button type="submit">Submit</button>
    <% end %>
  </div>
</div>