<div class="row">
  <div class="small-12 large-12 columns"> 
  Add welcome text
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= form_tag(:rsvp_nyc_submit, method: "post", data:{ abide: '' }) do %>
      <input name="invite_code" type="hidden" value="<%= @token %>">
      <div class="row">
        <div class="small-12 large-12 columns">
          Please select all guests who can attend the Sunday festivities:
        </div>
      </div>
      <div class="row rsvp-field">
        <div class="small-3 large-3 columns">Name</div>
        <div class="small-3 large-3 columns">Sunday Brunch</div>
        <div class="small-3 large-3 columns">Bus Tour</div>
        <div class="small-3 large-3 columns">Dinner</div>
      </div>
      <% @users.each do |user| %>
      <div class="row">
        <div class="small-3 large-3 columns rsvp-field"><%= user.full_name %></div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-brunch-field" name="user-<%= user.id %>-brunch">
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-tour-field" name="user-<%= user.id %>-tour">
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-dinner-field" name="user-<%= user.id %>-dinner">
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
      </div>
      <% end %>
      <button type="submit">Submit</button>
    <% end %>
  </div>
</div>