<div class="row">
  <div class="small-12 large-12 columns"> 
    <h1>RSVP - Post Wedding Activities - May 29, 2016</h1>
    <p>

    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= form_tag(:rsvp_nyc_submit, method: "post", data:{ abide: '' }) do %>
      <input name="invite_code" type="hidden" value="<%= @token %>">
      <div class="row">
        <div class="small-12 large-12 columns">
          <p>
            We would like to continue the fun on Sunday May 29th. Please let us know if you can join us for one or more of these events which will all start and end in Lower Manhattan.  
          </p>
          <p>
            Brunch on a Private Boat Tour of Lower Manhattan - 9:30 am - 12:10 pm
            Private Double Decker Bus Tour of Manhattan - 12:15 pm - 4:15 pm
            Indian Dinner - 6:00 pm - 10:30 pm
          </p>
        </div>
      </div>
      <div class="row rsvp-field">
        <div class="small-3 large-3 columns"><h4>Name</h4></div>
        <div class="small-3 large-3 columns"><h4>Sunday Brunch</h4></div>
        <div class="small-3 large-3 columns"><h4>Bus Tour</h4></div>
        <div class="small-3 large-3 columns"><h4>Dinner</h4></div>
      </div>
      <% @users.each do |user| %>
      <div class="row">
        <div class="small-3 large-3 columns rsvp-field"><h4><%= user.full_name %></h4></div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-brunch-field" name="user-<%= user.id %>-brunch" <%= user.rsvp ? '' : 'disabled' %>>
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-tour-field" name="user-<%= user.id %>-tour" <%= user.rsvp ? '': 'disabled' %>>
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
        <div class="small-3 large-3 columns rsvp-field">
          <select id="user-<%= user.id %>-dinner-field" name="user-<%= user.id %>-dinner" <%= user.rsvp ? '': 'disabled' %>>
            <option value="0" selected>Declines with Regret</option>
            <option value="1">Accepts with Pleasure</option>
          </select>
        </div>
      </div>
      <% end %>
      <button type="submit">Submit</button>
    <% end %>
  </div>
</div>