<div class="cd-timeline-block">
  <% icon = event.event_icon || 'picture' %>
  <div class="cd-timeline-img cd-<%= icon %>">
    <%= image_tag "cd-icon-#{icon}.svg" %>
  </div>
  <div class="cd-timeline-content">
    <h2><%= event.title %></h2>
    <div class="gallery">
  	  <% event.images.each_with_index do |image, i| %>
    	  <div class="image">
    	  	<a rel="gallery-<%= event.id %>" href="<%= image.photo.url %>" class="swipebox">
    	  	<%= image_tag image.photo.url(:event), style: "max-width:392px" %>
    	    </a>
    	  </div>
  	  <% end %>
    </div>
    <p><%= event.description %></p>
    <% if event.address %>
      <a href="http://maps.google.com/maps?q=<%= URI.escape(event.address) %>" target="_blank" class="cd-read-more">Map</a>
    <% end %>
    <span class="cd-date"><%= event.format_event_date %></span>
  </div>
</div>
