
<div class="row">
  <div class="small-12 large-12 columns">
    <h2>Sign in</h2>
  </div>
</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :date => :abide) do |f| %>
<div class="row">
  <div class="small-12 large-12 columns">
    <label>Email <small>required</small>
    	<%= f.email_field :email, :autofocus => true, :required=>''%>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <label>Password <small>required</small>
    	<%= f.password_field :password %>
    </label>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= f.submit "Sign in" %>
  </div>
</div>
<% end %>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= render "devise/shared/links" %>
  </div>
</div>


