<!-- Mobile Nav -->
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title"></h1>
      </section>

      <section class="right-small">
        <%= image_tag "ganesh.svg", class: "ganesh-logo" %>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Menu</label></li>
        <li><%= link_to 'Home', :root %></li>
        <li><%= link_to 'Our Story', :event_index %></li>
        <li><%= link_to 'Wedding Party', :wedding_party_index %></li>
        <li><%= link_to 'Big Day', :big_day_index %></li>
        <li><%= link_to 'Travel', :travel_index %></li>
        <li><%= link_to 'Guestbook', :guestbook_index %></li>
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
<!-- End Mobile Nav -->
<!-- Desktop Nav -->
<div class="other">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="logo">
        <%= image_tag "ganesh.svg", class: "ganesh-logo" %>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if current_user.nil? %>
          <a href="#" data-reveal-id="myModal" class="oswald alert button" data-step="1" data-intro="Thanks for visiting. Please RSVP first." onclick="javascript:introJs().exit();">RSVP</a>
          <%= link_to 'Login', :sign_in, class: "oswald alert button" %>
        <% else %>
        <li class="">
          <span>Welcome <%= current_user.full_name %></span>
        </li>
        <% end %>
      </ul>
    </section>
    <section>
      <div class="row center-nav">
        <div class="large-2 medium-2 columns">
          <%= link_to 'Home', :root %>
        </div>
        <div class="large-2 medium-2 columns">
          <%= link_to 'Our Story', :event_index %>
        </div>
        <div class="large-2 medium-2 columns">
          <%= link_to 'Wedding Party', :wedding_party_index %>
        </div>
        <div class="large-2 medium-2 columns">
          <%= link_to 'Big Day', :big_day_index %>
        </div>
        <div class="large-2 medium-2 columns">
          <%= link_to 'Travel', :travel_index %>
        </div>
        <div class="large-2 medium-2 columns">
          <%= link_to 'Guestbook', :guestbook_index %>
        </div>
      </div>
    </section>
  </nav>
</div>
<!-- End Desktop Nav -->
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Please enter your email address</h2>
  <p>
    If you are not sure which email to use, please check your electronic Save the Date email.  The recipient address is the one you should use here.  If you need help, please contact hello@asmitaanderic.com
  </p>
  <%= form_tag(:rsvp_new, method: "get", data:{ abide: '' }) do %>
   <div class="row user-token-field">
     <div class="small-12 large-12 columns">
       <input type="text" id="email" name="email" required pattern="email">
       <small class="error">Must be formatted as an email.</small>
         <button type="submit">Submit</button>
      </div>
    </div>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>